<div class="wrapper">
    <div class="content">
        {{> header}}
        <main class="greeting-page">
            <div class="greeting-page__inner">
                <h2 class="greeting-page__title">Приветствуем, <p>{{name}} {{lastname}}</p> На GENERATIONS INNOVATION AWARD!</h2>
                <p class="greeting-page__item--table">Ваш банкетный стол: <span>#{{table}}</span></p>
                <div class="greeting-page__item--greeting">
                    <div class="greeting-phrase">
                        <p>Ждем вас в зале!</p>
                        <a href="/guests?id={{id}}&table={{table}}" data-id={{id}} id="putCheckIn" class="btn btn-blue">Гости за столом #{{table}}</a>
                    </div>
                    <div class="please-photo">
                        <div class="please-photo__img">
                            <svg viewBox="0 0 72 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M35.8803 55.41C26.7566 55.4103 17.633 55.4131 8.50927 55.4093C3.04574 55.407 0.265013 52.6114 0.260756 47.1005C0.252879 36.9063 0.250997 26.712 0.259359 16.5177C0.263869 11.0153 3.07933 8.17066 8.49918 8.15935C10.7216 8.15471 12.9461 8.09667 15.1658 8.17621C16.903 8.23846 18.2093 7.56014 19.2696 6.21912C20.1133 5.15191 21.1169 4.19341 21.8262 3.04351C22.9614 1.20326 24.622 0.649542 26.5732 0.640415C33.0018 0.610341 39.4306 0.6037 45.8593 0.58937C47.2173 0.586343 48.3131 1.0468 49.198 2.18649C50.1753 3.44512 51.4206 4.49325 52.354 5.78016C53.7552 7.71209 55.5207 8.36883 57.8262 8.19262C59.978 8.02816 62.1523 8.1201 64.3153 8.16737C68.4151 8.25699 71.5079 11.1805 71.5439 15.3553C71.6386 26.3237 71.6401 37.2941 71.5481 48.2625C71.5124 52.5233 68.4113 55.3874 64.1287 55.4006C54.7126 55.4297 45.2965 55.4096 35.8803 55.41ZM35.896 48.1547C45.7432 48.1665 53.7749 39.9882 53.7666 29.9579C53.7587 20.3513 45.3036 11.7779 35.8677 11.8085C26.108 11.8403 18.1393 19.9579 18.0818 29.927C18.024 39.9688 26.0125 48.1428 35.896 48.1547ZM62.0802 18.1124C63.1288 18.1124 64.1776 18.1242 65.226 18.1094C66.4615 18.092 67.2657 17.4525 67.3064 16.1944C67.3473 14.9279 66.5812 14.2104 65.3398 14.1876C63.1851 14.1481 61.0288 14.1489 58.8739 14.1842C57.6421 14.2044 56.8618 14.8773 56.8821 16.1657C56.9024 17.4534 57.7174 18.0671 58.9347 18.1051C59.9823 18.1379 61.0316 18.1119 62.0802 18.1124Z" fill="white" fill-opacity="0.81"/>
                                <path d="M35.7911 42.8315C28.8565 42.7806 23.2368 36.9358 23.312 29.8529C23.3871 22.7834 29.156 17.0157 36.0577 17.1097C42.9987 17.2043 48.5818 23.0259 48.539 30.1241C48.4965 37.1773 42.7729 42.8827 35.7911 42.8315Z" fill="white" fill-opacity="0.81"/>
                            </svg>
                        </div>
                        <p>Сфотографируйте, чтобы не забыть</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {{> footer }}
</div>
{{> scripts }}